
/* font size 65.25% = 10 px, 1 em = 10px */

html{
  text-decoration: none; 
  font-size: 65.25%; 
}

body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}
