
/* font size 65.25% = 10 px, 1 em = 10px */

html{
  text-decoration: none; 
  font-size: 65.25%; 
}

body{
  width: 100vw;
  height: 100vh;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #2bbfe4, #5bcfd2, #91dbc2, #c1e4bd, #eaecc6);
}

