
/* font size 65.25% = 10 px, 1 em = 10px */

html{
  text-decoration: none; 
  font-size: 65.25%; 
}

body{
  width: 100vw;
  height: 100vh;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,139,45,1) 100%);
}

